<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TinDog</title>
     <style>
  .image{
    position: relative;
  float:right;
  border: 100px;
  margin: 40px;
  }
  .image0{
    position: relative;
  float:left;
  border: 100px;
  margin: 40px;
  }
  .rounded-lg-3{
  border-radius: 40px;
  display: block;
  }
  .content1{
    margin: 40px;
    margin-top:100px ;
  }
  .image2{
    position: absolute;
    top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  .heading1{
    position: absolute;
    top: 20%;
      left: 55%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 50px;
  
  }
  .heading2{
    position: absolute;
    top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(190, 190, 190);
      font-size: 50px;
  }
  .image3{
    float: left;
  }
  .container {
  display: flex;
  justify-content: center; /* Horizontal centering */
    
             /* Optional: fills the screen height */
}
    </style>
  </head>
  <body>
    <h1> &nbsp;cowbook </h1>
    <hr>  
          <div class="image">
          <img class="rounded-lg-3" src="../photo/dairyfarmphoto.webp" alt="cow" height="500px">
          <div class="image2"><img src="../photo/Screenshot 0002.png " alt="heading"></div> 
          </div> 
          <div class="content1">
          <h1 style="font-size: 50px;">Dairy Farm</h1>
             <p style="font-size: 30px;">Dairy farming is a type of agriculture that involves caring for and feeding dairy animals, such as cows, goats, sheep, and buffaloes
              , to produce milk and dairy products. The goal is to manage the animals' health, welfare, and milk production to get the highest quality
               and quantity of milk possible.</p>
            </div>   
            <div class="image0">
              <img class="rounded-lg-3" src="../photo/Dairy_Farm_image001.jpg" alt="cow" height="500px">
              <div class="heading1">IMPACT ON ECONOMY</div> 
              </div> 
              <div class="content1">
              <h1 style="font-size: 50px;">ROLE OF DAIRY INDUSTRY IN ECONOMY</h1>
                 <p style="font-size: 30px;">Dairy is the single largest agricultural commodity contributing 5% of the national economy.<br>
                  The dairy production is one of the most important sectors of the <a href="https://ruminants.ceva.pro/livestock-farming">world economy</a> . It provides essential food for billions of people and generates billions of dollars in revenue 
                  annually. Dairy farms produce millions of liters of milk every year and play a vital role in ensuring the world has a sufficient supply of food.<br>
                  As the global population approaches 9.7 billion people by the year 2050, humanity faces enormous challenges in feeding and providing the essential nutritional requirements for the growing population1.
                 </p>
                </div>
  
                <div class="image">
                  <img class="rounded-lg-3" src="../photo/Dairy_Farm_image002.jpg" alt="cow" height="500px">
                  <div class="heading2">INDIAN&nbsp;FARMS</div> 
                  </div> 
                  <div class="content1">
                  <h1 style="font-size: 50px;">DAIRY FARMING IN INDIA</h1>
                     <p style="font-size: 30px;">India has the world's largest dairy herd with over 300 million bovines, producing over 187 million 
                      tonnes of milk.<br> India is first among all countries in both production and consumption of milk.<br></p>
                    </div>
                    <div class="image0">
                      <img class="rounded-lg-3" src="../photo/Dairy_Farm_image003.jpg" alt="cow" height="500px">
                      
                      </div> 
                      <div class="content1">
                      <h1 style="font-size: 50px;">ANCIENT INDIAN DAIRY FARMING</h1>
                         <p style="font-size: 30px;">Dairy production in the Indian subcontinent has historical roots that go back 8,000 years to the domestication of zebu cattle. Dairy products, 
                          especially milk, were consumed on the subcontinent at least from the Vedic period. In the mid- to late 20th century, Operation
                           Flood transformed the Indian dairy industry into the world's largest. Previously, milk production in India occurred mainly on
                            household farms</p>
                        </div>
              
  
           <div> <hr>
           </div> 
           <div class="image3"><a href="/"><img src="../photo/Screenshot 0003.png" alt="ending" style="width: 250px; border: 1px solid black;"></div></a>
           <br> <br> <br>
           <div class="container">This is our website www.cowbook.com your companien in dairy farming its make it easy for you to store data of the cows and calfs
           </div>
           <!-- <div class="container">@ by vestmen 
           </div> -->
               
         
  
 
      
      </body></html>