<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css.code/CBresultpage.css">
</head>
<body>
<%- include("CBheader.ejs") %>
        

    <div class="profile-container">
        <h2>Farm Animal Profile</h2>
        <div class="info">
            <div><span>Serial No:</span> 7</div>
            <div><span>Age:</span> 2 years 5 months</div>
            <div><span>Calfs:</span> 3 (10, 25, 30)</div>
            <div><span>Father Name:</span> Glaxy</div>
            <div class="pregnant-info"><span>Pregnant:</span> Yes</div>
            <div class="pregnant-info"><span>Pregnant for:</span> 3 months</div>
        </div>
    </div>

</body>
</html>
