<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .congratulations{
            font-size: 50px;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div style="font-size: 30px;"> <button><a class="homebutton" href="./CBindex.html">home</a></div></button>
   <div class="congratulations"> congratulations 🎉
    
    
    <div style="font-size: large;">new cow added </div>
</div>
   
</body>
</html>