<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css.code/index.css">
</head>
<body>
    <!-- <div class="header">
            <a href="/about"><button >about</button></a>
        <div class="Profile">
            <a href="/profile">
                <img src="../photo/myphotocb.jpg" alt="Profile" class="profile-button">
            </a> 
            &nbsp;AMAR FARM
        </div>
    </div> -->
    <%- include("CBheader.ejs") %>

    <div class="main-content">
        
        <span style="font-size: 75px;">Cowbook</span>
        <br>
        <br>
        <div class="Profile"> 
        <form action="/submit" method="POST">
        <label for="search">Enter cow tag number</label>
        <input  type="text" id="search" name="search" placeholder="Search cow" required>
        <input type="submit" value="Submit">
        </form>
        </div>
        <br>
        <div><a href="/addcow"><button >add cow</button></a></div>
      
</body>
</html>